/* .app {
  /* max-width: 2880px;
  width: 100%; */

.app__content {
  background-color: white;
  background-image: url(../assets/mainimage.png);
  background-repeat: no-repeat;
  /* max-width: 2880px;
  width: 100%; */
}

@media screen and (max-width: 2560px) {
  .app__content {
    background-size: 2560px 600px;
  }
}

@media screen and (max-width: 320px) {
  .app__content {
    background-size: 320px 490px;
    padding: 5px;
  }
}

@media screen and (max-width: 480px) {
  .app__content {
    background-size: 480px 490px;
    padding: 0px;
  }
}
