.cards {
  margin-top: 20px;
  gap: 20px;
  background-color: rgba(245, 246, 247, 1);
}

.card {
  max-width: 400px;
  position: relative;
  color: black;
  width: 100%;
  background-color: white;
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-style: inset;
}

.card__container {
  margin-top: 50px;
  padding: 10px;
}

.card__save {
  position: absolute;
  margin-top: 20px;
  background-size: 30px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  background-image: url(../assets/bookmark.svg);
  width: 35px;
  height: 35px;
  left: 340px;
}

.card__save:hover {
  background-image: url(../assets/black.svg);
}

.card__save:active {
  background-image: url(../assets/blue.svg);
}

li.card::marker {
  color: transparent;
}

.card__title {
  margin: 0;
  background-color: #fff;
  border-radius: 4px;
  font-size: 26px;
  color: rgba(26, 27, 34, 1);
  line-height: 20px;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
}

.card__image {
  width: 100%;
  border-style: solid;
  border-radius: 19px;
  border-color: transparent;
  max-width: 400px;
  height: 272px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card__date {
  color: rgba(182, 188, 191, 1);
  margin-top: 0;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

.card__description {
  font-size: 16px;
  font-weight: 400;
  color: rgba(26, 27, 34, 1);
  font-family: "Roboto", serif;
  font-weight: 400;
}

.card__source {
  color: rgba(182, 188, 191, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto Slab", serif;
}

@media screen and (max-width: 2560px) {
  .cards {
    max-width: 2560px;
    width: 100%;
  }

  .card__save {
    top: 10px;
  }
}

@media screen and (max-width: 1440px) {
  .card {
    max-width: 400px;
    width: 100%;
  }

  .card__container {
    max-width: 400px;
    width: 100%;
  }

  .card__save {
    left: 350px;
  }
}

@media screen and (max-width: 1600px) {
  .card {
    max-width: 400px;
    width: 100%;
  }

  .card__container {
    max-width: 400px;
    width: 100%;
  }

  .card__save {
    left: 350px;
  }
}

@media screen and (max-width: 320px) {
  .card__container {
    padding: 10px;
    margin-top: 0;
  }

  .card__save {
    left: 220px;
  }
}

@media screen and (max-width: 480px) {
  .card__container {
    padding: 0px 20px;
    margin-top: 0;
  }

  .card__save {
    left: 320px;
  }
}
