.cards {
  margin-top: 40px;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  max-width: 400px;
  position: relative;
  color: black;
  width: 100%;
}

.card__container {
  margin-top: 50px;
  padding: 10px 30px;
}

.search__title {
  color: rgba(26, 27, 34, 1);
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.card__save {
  position: absolute;
  margin-top: 20px;
  margin-left: 350px;
  background-size: 30px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  background-image: url(../assets/bookmark.svg);
  background-repeat: none;
  width: 35px;
  height: 35px;
}

.card__save:hover {
  background-image: url(../assets/black.svg);
}

.card__save:active {
  background-image: url(../assets/blue.svg);
}

li.card::marker {
  color: transparent;
}

.card__title {
  margin: 0;
  background-color: #fff;
  border-radius: 4px;
  font-size: 26px;
  color: rgba(26, 27, 34, 1);
  line-height: 20px;
  font-weight: 400;
}

.card__image {
  width: 100%;
  border-style: solid;
  border-radius: 19px;
  border-color: rgba(0, 0, 0, 0.3);
  max-width: 400px;
  height: 272px;
}

.card__date {
  color: rgba(182, 188, 191, 1);
  margin-top: 0;
}

.card__description {
  font-size: 16px;
  font-weight: 400;
  color: rgba(26, 27, 34, 1);
}

.card__source {
  color: rgba(182, 188, 191, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .card__save {
    margin-left: 120px;
  }
}
