.cards {
  margin-top: 20px;
  gap: 20px;
  background-color: rgba(245, 246, 247, 1);
  max-width: 1440px;
  width: 100%;
}

.card {
  max-width: 400px;
  position: relative;
  color: black;
  width: 100%;
  background-color: white;
  border-bottom-style: inset;
  border: 1px solid;
  border-color: transparent;
  border-radius: 19px;
}

.card__save {
  position: absolute;
  top: 24px;
  background-size: 30px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  background-image: url(../assets/bookmark.svg);
  width: 35px;
  height: 35px;
  right: 24px;
}

.card__save:hover {
  background-image: url(../assets/black.svg);
}

.card__save:active {
  background-image: url(../assets/blue.svg);
}

li.card::marker {
  color: transparent;
}

.card__title {
  margin: 0;
  background-color: #fff;
  border-radius: 4px;
  font-size: 26px;
  color: rgba(26, 27, 34, 1);
  line-height: 20px;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
  padding: 0px 10px;
}

.card__image {
  width: 100%;
  max-width: 400px;
  height: 272px;

  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
}

.card__date {
  color: rgba(182, 188, 191, 1);
  margin-top: 0;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  padding: 10px;
}

.card__description {
  font-size: 16px;
  font-weight: 400;
  color: rgba(26, 27, 34, 1);
  font-family: "Roboto", serif;
  font-weight: 400;
  padding: 0px 10px;
}

.card__source {
  color: rgba(182, 188, 191, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto Slab", serif;
  padding: 0px 10px;
}

/* @media screen and (max-width: 420px) {
  .card__save {
    left: 320px;
  }
} */
