.footer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
}

.footer__copyright {
  color: rgba(182, 188, 191, 1);
  font-family: "Roboto", serif;
  font-weight: 400;
  margin-left: 10px;
}

.footer__home-button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  margin-top: 19px;
  margin-left: auto;
  font-family: "Roboto", serif;
  font-weight: 400;
  text-decoration: none;
}

.link__footer {
  margin-left: auto;
}

.footer__tripleten-button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  margin-top: 19px;
  font-family: "Roboto", serif;
  font-weight: 400;
  margin-left: 20px;
  text-decoration: none;
}

.footer__github-button {
  background-image: url(../assets/github.svg);
  width: 24px;
  height: 24px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 15px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 20px;
}

.footer__facebook-button {
  background-image: url(../assets/fb.svg);
  width: 24px;
  height: 24px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 15px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    font-size: 16px;
    position: relative;
    top: 120px;
    left: 12px;
    max-width: 480px;
    width: 100%;
    font-size: 16px;
    margin-top: 0;
    margin-left: 0;
  }

  .footer {
    position: relative;
    max-width: 480px;
    width: 100%;
    padding: 0;
    height: 176px;
    display: block;
    margin-left: 0;
  }

  .footer__home-button {
    position: relative;
    left: 12px;
  }

  .footer__tripleten-button {
    right: 52px;
    top: 30px;
    position: relative;
  }

  .footer__facebook-button {
    margin-left: auto;
    display: flex;
    position: relative;
    bottom: 70px;
    right: 10px;
  }

  .footer__github-button {
    position: relative;
    display: flex;
    bottom: 32px;
    margin-left: auto;
    right: 70px;
  }
}
