.header {
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
}

.header__home-button {
  background: transparent;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: auto;
  cursor: pointer;
  border: none;
  margin-right: 10px;
}

.header__home-button:hover {
  border-bottom: 1px solid;
}

.header__signin-button {
  background: transparent;
  padding: 10px 60px;
  border-radius: 30px;
  margin-left: 15px;
  border-style: solid;
  cursor: pointer;
}

.saved__article-button {
  background: transparent;
  border: none;
  color: black;
  padding-bottom: 0;
  cursor: pointer;
  height: 20px;
  margin-top: 23px;
  margin-right: 10px;
}

.saved__article-button:hover {
  border-bottom: 1px solid;
}

.header__username {
  color: black;
  border: none;
  font-size: 14px;
  margin-top: 23px;
  cursor: pointer;
}

.header__username:hover {
  border-bottom: 1px solid;
}

.header__link {
  background: transparent;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: auto;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  margin-right: 10px;
}
