.header {
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: gray;
  padding-bottom: 0;
}

.header__title {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 20px;
}

.header__home-button {
  background: transparent;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: auto;
  cursor: pointer;
  border: none;
  margin-right: 10px;
  font-family: "Roboto", serif;
  font-weight: 500;
  height: 42px;
  text-decoration: none;
  margin-top: 25px;
  margin-right: 50px;
}

.header__home-button:hover {
  border-bottom: 1px solid;
}

.header__signin-button {
  background: transparent;
  padding: 10px 60px;
  border-radius: 30px;
  margin-left: 15px;
  border-style: solid;
  cursor: pointer;
}

.saved__article-button {
  background: transparent;
  border: none;
  color: black;
  padding-bottom: 0;
  cursor: pointer;
  height: 20px;
  margin-top: 10px;
  margin-right: 25px;
  height: 48px;
}

.saved__article-button:hover {
  border-bottom: 1px solid;
}

.header__user-container {
  display: flex;
  border: 1px solid;
  border-radius: 100px;
  width: 112px;
  height: 48px;
  margin-top: 10px;
}

.header__username {
  color: black;
  font-size: 14px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-left: 23px;
}

.header__username_img {
  background-size: contain;
  width: 17.41px;
  height: 16px;
  border: none;
  margin-top: 16px;
  cursor: pointer;
}

.header__link {
  background: transparent;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: auto;
  cursor: pointer;
  margin-top: 10px;
  border: none;
  margin-right: 10px;
}

.header__saved-button {
  background: transparent;
  border: none;
  margin-top: 26px;
  cursor: pointer;
  border-color: white;
  height: 32px;
  margin-right: 50px;
  text-decoration: none;
  color: rgba(182, 188, 191, 1);
}

.header__saved-button:hover {
  border-bottom: 1px solid;
}

.header__button-nav {
  display: none;
}

/* @media screen and (max-width: 530px) {
  .saved__button {
    margin-right: 0;
  }
} */

@media screen and (max-width: 600px) {
  .header__home-button {
    display: none;
  }

  .header {
    padding: 10px;
    justify-content: space-around;
  }

  .header__signin-button {
    display: none;
  }

  .header__button-nav {
    display: flex;
    margin-left: auto;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    background-image: url(../assets/menu.svg);
    background-repeat: no-repeat;
    margin-top: 18px;
  }

  .header__saved-button {
    margin-right: 0;
  }

  .saved__article-button {
    margin-right: 0;
  }
}

@media screen and (max-width: 360px) {
  .header__saved-button {
    margin-top: 18px;
    margin-left: 10px;
    position: relative;
    left: 10px;
  }

  .header__username {
    margin-left: 15px;
  }
}
