.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.main__title {
  font-size: 60px;
  text-align: center;
  line-height: 64px;
  font-weight: 400;
  margin-bottom: 10px;
  max-width: 608px;
  width: 100%;
  font-family: "Roboto Slab", serif;
}

.main__description {
  margin: 0;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 18px;
}

.cards__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card__search-title {
  color: rgba(26, 27, 34, 1);
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 0;
  padding-top: 30px;
  margin-right: auto;
  font-family: "Roboto Slab", serif;
}

.card__more {
  max-width: 288px;
  width: 100%;
  border-radius: 20px;
  border: none;
  height: 64px;
  cursor: pointer;
  background-color: rgba(232, 232, 232, 1);
  color: rgba(26, 27, 34, 1);
  margin-bottom: 70px;
}

.card__link {
  max-width: 288px;
  width: 100%;
  border-radius: 20px;
  border: none;
  height: 64px;
  cursor: pointer;
  background-color: rgba(232, 232, 232, 1);
  color: rgba(26, 27, 34, 1);
  margin-top: 30px;
}

@media screen and (max-width: 2560px) {
  .card__search-title {
    margin-left: 55px;
  }
}

@media screen and (max-width: 320px) {
  .card__search-title {
    font-size: 30px;
    margin-left: 10px;
    padding-top: 60px;
  }

  .main__title {
    font-size: 36px;
    margin-top: 20px;
    line-height: 40px;
  }

  .main {
    margin-top: 0;
  }

  .main__description {
    font-size: 18px;
    line-height: 24px;
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .main__title {
    margin-top: 0;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    font-family: "Roboto Slab", serif;
  }

  .main__description {
    font-size: 18px;
    line-height: 24px;
    padding-left: 15px;
    font-family: "Roboto", serif;
    font-weight: 400;
  }

  .card__search-title {
    font-size: 30px;
    margin-left: 20px;
    padding-top: 60px;
  }
}
