.modal__title {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 10px;
}

.button__sign-in {
  background: transparent;
  color: rgba(47, 113, 229, 1);
  border: none;
  padding: 0;
  cursor: pointer;
}
